DATABASE_URL=link


LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=tbg-ai-copilot
LANGCHAIN_TRACING_V2=true
OLLAMA_BASE_URL=https://api.ollama.com
OLLAMA_MODEL=llama3
OLLAMA_API_KEY=ollamakey